<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663707485879-qoueteud4cccl57db5q13neprbftmgt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663707485879-qoueteud4cccl57db5q13neprbftmgt3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>663707485879-tootnsp3j8jvosd5lqth7o5te0p4immr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOsWhfg_YIHSjywRAp9H5mGJOmBbzDcBE</string>
	<key>GCM_SENDER_ID</key>
	<string>663707485879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vht.flutter.flutterNotifications</string>
	<key>PROJECT_ID</key>
	<string>fcm-push-ebb77</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-push-ebb77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663707485879:ios:4a2a8d344ade6ce69aef32</string>
	<key>DATABASE_URL</key>
	<string>https://fcm-push-ebb77.firebaseio.com</string>
</dict>
</plist>